/* infinite carousel */
body {
  padding: 30px;
}

.carousel {
  clear: both;
  background: #eee;
  position: relative;
  width: 690px;
  height: 230px;
  padding:0 20px;
  .wrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    ul {
      list-style-type: none;
      height: 100%;
      margin: 0;
      padding: 0;
      width: 9999px;
      li {
        float: left;
        width: 220px;
        margin: 5px;
        text-align: center;
        line-height:220px;
        font-size:30px;
        background: #fff;
        height: 220px;
        overflow: hidden;
      }
    }
    ul.imgCaption {
      height: auto;
      li {
        line-height: normal;
        border: 2px solid black;
        box-sizing: border-box;
        height: auto;
      }
    }
  }
  .prev, .next {
    cursor: pointer;
    position: absolute;
    overflow: hidden;
    width: 50px;
    height:50px;
    border-radius:50%;
    z-index: 2;
    top:50%;
    transform:translate(0, -50%);
    -webkit-transform:translate(0, -50%);
    font: bold 13px Tahoma;
    text-align: center;
    line-height: 50px;
    color:#fff;
    background: #EC185D;
  }
  .prev {
    left: -15px;
  }
  .next {
    right: -15px;
  }
}

